body, html {
    font-size: 14px;
    color: #555;
    overflow-x: hidden;
    background-color: #F0F0F2;
}

.cube-slider {
    background-color: #222;
    overflow: hidden;
}

#header, h1, h2, h3, h4, h5, h6 {
    font-family: serif;
    font-weight: bold;
}

#header {
    padding: .7em 0;
    padding-left: 25%;
    font-size: 4em;
}

#top_menu {
    border-radius: 0;
    margin-bottom: 0;
}

#content, #aside {
    margin: 3em 0;
}
@media (max-width: 992px) {
    #content{margin-top: 0;}
}
main.row, main.row > article {
    padding: 0;
}
#aside {padding: 2em 1em;}
#content {
    padding: 2em;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.25);
    border-radius: 2px;
}
#aside ul {
    list-style: none;
}
#aside ul > li > a {
    display: block;
    color: inherit;
    padding: 0.5em 1em;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.25);
    margin-bottom: 0.5em;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}
#aside ul > li > a:hover {
    text-decoration: none;
    box-shadow: 0 10px 40px rgba(0,0,0,0.25);
    transform: translateY(2px);
    z-index: 100;
}

#footer {
    background-color: #222;
    color: #fff;
}
#footer a {color: inherit;}
#footer > .row > div {
    padding: 3em 2em;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}