#gallery-box > .item-box {
    display: inline-block;
    vertical-align: top;
    padding: 1em;
}

#gallery-box img {
    vertical-align: bottom;
}

#gallery-box > .item-box > a {
    display: block;
    position: relative;
    text-decoration: none;
    color: #fff;
    transition: opacity .3s ease;
}

#gallery-box > .item-box > a:hover {
    opacity: .7;
    text-decoration: none;
}

#gallery-box .category-name {
    color: $fff;
    background: rgba(0,0,0,.5);
    text-shadow: none;
    text-align: center;
    position: absolute;
    padding: .5 em;
    top: 0;
    left: 0;
    width: 100%;
}

#gallery-box .category-preview {
    padding-top: .5em;
    color: #333;
    text-align: center;
    font-size: .7em;
    line-height: 1.2em;
}

#gallery-box .item-separator {
    border-top: 1px solid #ccc;
    margin: 2em 0;
}

